<html>
  <head>
    <meta charset="us-ascii">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <style>
      html
        {
        font-size: 20px;
        padding: 20px;
        max-width: 1000px;
        }
      .camera
        {
        display: block;
        vertical-align: top;
        border-top: 3px solid #000;
        min-height: 150px;
        }
      .summary
        {
        display: block;
        vertical-align: top;
        border-top: 3px solid #393;
        border-bottom: 3px solid #393;
        min-height: 50px;
        }
      .in-camera
        {
        margin-left: 30px;
        }
      .status-good
        {
        color: #393;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
        }
      .status-bad
        {
        color: #933;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
        }
      .float-right
        {
        margin-top: -140px;
        margin-left: auto;
        }
    </style>
    <script type="text/javascript">
      /* global array of available cameras */
      %CAMERAS%
    </script>
    <script type="text/javascript" src="/cam-view/cam-view.js"></script>
    <title>%TITLE%</title>
  </head>
  <body>
    <h1>%TITLE%</h1>

    <div id="details" style="position: fixed; z-index:100; width:auto; max-width:85vw; height:auto; max-height:80vw; display:none; left:50%; margin-left:-42.5vw; top:60px; border:3px solid #933;">
      <p style="margin:auto"><a href="#" onclick="HideDetails();"><img style="max-width:100%; max-height:100%;" id="photo-details" src="#"/></a></p>
    </div>

